<?xml version="1.0" ?>
<robot name="dron02">
    <webots>
        <plugin type="uned_crazyflie_webots.crazyflie_driver.CrazyflieWebotsDriver_Test" />
        <!--device reference="lidar" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>10</updateRate>
                <topicName>/scan</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>base_link</frameName>
            </ros>
        </device-->
    </webots>
</robot>