<?xml version="1.0"?>
<launch>
  <arg name="robot_id" default="dron01"/>
  <arg name="mav_name" default="crazyflie2"/>
  <arg name="position_controller" default="PID" />
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="enable_state_estimator" default="false" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="user_account" default="kiko"/>
  <arg name="world_name" default="basic_crazyflie.world"/>
  <arg name="paused" value="false"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="false"/>
  <!-- Delta Pitch Controller Params -->
  <arg name="dPitchKp" default="250.0"/>
  <arg name="dPitchKi" default="500.0"/>
  <arg name="dPitchKd" default="2.5"/>
  <arg name="dPitchTd" default="0.01"/>
  <!-- Delta Roll Controller Params -->
  <arg name="dRollKp" default="250.0"/>
  <arg name="dRollKi" default="500.0"/>
  <arg name="dRollKd" default="2.5"/>
  <arg name="dRollTd" default="0.01"/>
  <!-- Delta Yaw Controller Params -->
  <arg name="dYawKp" default="120.0"/>
  <arg name="dYawKi" default="16.7"/>
  <arg name="dYawKd" default="0.0"/>
  <arg name="dYawTd" default="0.0"/>
  <!-- Pitch Controller Params -->
  <arg name="PitchKp" default="6.0"/>
  <arg name="PitchKi" default="3.0"/>
  <arg name="PitchKd" default="0.0"/>
  <arg name="PitchTd" default="0.0"/>
  <!-- Roll Controller Params -->
  <arg name="RollKp" default="6.0"/>
  <arg name="RollKi" default="3.0"/>
  <arg name="RollKd" default="0.0"/>
  <arg name="RollTd" default="0.0"/>
  <!-- Yaw Controller Params -->
  <arg name="YawKp" default="6.0"/>
  <arg name="YawKi" default="1.0"/>
  <arg name="YawKd" default="0.349"/>
  <arg name="YawTd" default="0.05816"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find uned_interface)/Config/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find uned_interface)/Config/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find uned_interface)/Config/worlds/$(arg world_name)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <group ns="$(arg robot_id)">
  <!-- The following lines simulate the Crazyflie dynamics -->
    <include file="$(find uned_crazyflie_config)/launch/spawn_mav_crazyflie.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="namespace" value="$(arg robot_id)" />
      <arg name="model" value="$(find uned_crazyflie_drone)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="enable_state_estimator" value="$(arg enable_state_estimator)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="x" default="$(arg x)"/>
      <arg name="y" default="$(arg y)"/>
      <arg name="z" default="$(arg z)"/>
    </include>

   <node name="uned_crazyflie_driver_node" pkg="uned_crazyflie_driver" type="uned_crazyflie_driver_node" output="screen" />
   <node name="attitude_controller_node" pkg="uned_crazyflie_controllers" type="uned_crazyflie_attitude_controller_node" output="screen" />
   <node name="ratemixer_controller_node" pkg="uned_crazyflie_controllers" type="uned_crazyflie_ratemixer_controller_node" output="screen">
      <!-- dYaw Controller Params -->
      <param name="dPitchKp" value="$(arg dPitchKp)"/>
      <param name="dPitchKi" value="$(arg dPitchKi)"/>
      <param name="dPitchKd" value="$(arg dPitchKd)"/>
      <param name="dPitchKd" value="$(arg dPitchKd)"/>
      <!-- Phi Controller Params -->
      <param name="dRollKp" value="$(arg dRollKp)"/>
      <param name="dRollKi" value="$(arg dRollKi)"/>
      <param name="dRollKd" value="$(arg dRollKd)"/>
      <param name="dRollTd" value="$(arg dRollTd)"/>
      <!-- Theta Controller Params -->
      <param name="dYawKp" value="$(arg dYawKp)"/>
      <param name="dYawKi" value="$(arg dYawKi)"/>
      <param name="dYawKd" value="$(arg dYawKd)"/>
      <param name="dYawTd" value="$(arg dYawTd)"/>
   </node>

   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   <node name="quaternion_to_rpy" pkg="rotors_gazebo" type="quaternion_to_rpy" output="screen" >
       <remap from="odometry" to="odometry_sensor1/odometry" />
   </node>

  </group>
</launch>
