<?xml version="1.0"?>
<launch>
  <arg name="robot_id" default="dron01"/>
  <arg name="mav_name" default="crazyflie2"/>
  <arg name="attitude_pid_type" default="periodic"/>
  <arg name="rate_pid_type" default="discrete"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="enable_state_estimator" default="false" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="user_account" default="kiko"/>
  <arg name="world_name" default="basic_crazyflie.world"/>
  <arg name="paused" value="false"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="false"/>
  <!-- Delta Pitch Controller Params -->
  <arg name="dPitchKp" default="110.0"/>
  <arg name="dPitchKi" default="0.0"/>
  <arg name="dPitchKd" default="0.0"/>
  <arg name="dPitchTd" default="0.0"/>
  <!-- Delta Roll Controller Params -->
  <arg name="dRollKp" default="110.0"/>
  <arg name="dRollKi" default="0.0"/>
  <arg name="dRollKd" default="0.0"/>
  <arg name="dRollTd" default="0.0"/>
  <!-- Delta Yaw Controller Params -->
  <arg name="dYawKp" default="110.0"/>
  <arg name="dYawKi" default="16.6980"/>
  <arg name="dYawKd" default="2.497"/>
  <arg name="dYawTd" default="0.0227"/>
  <!-- Pitch Controller Params -->
  <arg name="PitchKp" default="3.5"/>
  <arg name="PitchKi" default="1.99"/>
  <arg name="PitchKd" default="0.0"/>
  <arg name="PitchTd" default="0.0"/>
  <!-- Roll Controller Params -->
  <arg name="RollKp" default="3.5"/>
  <arg name="RollKi" default="1.99"/>
  <arg name="RollKd" default="0.0"/>
  <arg name="RollTd" default="0.0"/>
  <!-- Yaw Controller Params -->
  <arg name="YawKp" default="3.0"/>
  <arg name="YawKi" default="0.0"/>
  <arg name="YawKd" default="0.0"/>
  <arg name="YawTd" default="0.0"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find uned_interface)/Config/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find uned_interface)/Config/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find uned_interface)/Config/worlds/$(arg world_name)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <include file="$(find uned_crazyflie_config)/launch/crazyflie_driver.launch">
    <arg name="robot_id" value="$(arg robot_id)" />
    <arg name="attitude_pid_type" value="$(arg attitude_pid_type)"/>
    <arg name="rate_pid_type" value="$(arg rate_pid_type)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <!-- Pitch Controller Params -->
    <arg name="PitchKp" value="$(arg PitchKp)"/>
    <arg name="PitchKi" value="$(arg PitchKi)"/>
    <arg name="PitchKd" value="$(arg PitchKd)"/>
    <arg name="PitchTd" value="$(arg PitchTd)"/>
    <!-- Roll Controller Params -->
    <arg name="RollKp" value="$(arg RollKp)"/>
    <arg name="RollKi" value="$(arg RollKi)"/>
    <arg name="RollKd" value="$(arg RollKd)"/>
    <arg name="RollTd" value="$(arg RollTd)"/>
    <!-- Yaw Controller Params -->
    <arg name="YawKp" value="$(arg YawKp)"/>
    <arg name="YawKi" value="$(arg YawKi)"/>
    <arg name="YawKd" value="$(arg YawKd)"/>
    <arg name="YawTd" value="$(arg YawTd)"/>
    <!-- Delta Pitch Controller Params -->
    <arg name="dPitchKp" value="$(arg dPitchKp)"/>
    <arg name="dPitchKi" value="$(arg dPitchKi)"/>
    <arg name="dPitchKd" value="$(arg dPitchKd)"/>
    <arg name="dPitchTd" value="$(arg dPitchTd)"/>
    <!-- Delta Roll Controller Params -->
    <arg name="dRollKp" value="$(arg dRollKp)"/>
    <arg name="dRollKi" value="$(arg dRollKi)"/>
    <arg name="dRollKd" value="$(arg dRollKd)"/>
    <arg name="dRollTd" value="$(arg dRollTd)"/>
    <!-- Delta Yaw Controller Params -->
    <arg name="dYawKp" value="$(arg dYawKp)"/>
    <arg name="dYawKi" value="$(arg dYawKi)"/>
    <arg name="dYawKd" value="$(arg dYawKd)"/>
    <arg name="dYawTd" value="$(arg dYawTd)"/>
  </include>
</launch>
