<?xml version="1.0"?>
<launch>
  <arg name="robot_id" default="dron01"/>
  <arg name="mav_name" default="crazyflie2"/>
  <arg name="position_controller" default="PID" />
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="enable_state_estimator" default="false" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="user_account" default="kiko"/>
  <arg name="world_name" default="basic_crazyflie.world"/>
  <arg name="paused" value="false"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="false"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find uned_interface)/Config/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find uned_interface)/Config/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find uned_interface)/Config/worlds/$(arg world_name)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <include file="$(find uned_crazyflie_config)/launch/crazyflie_driver.launch">
    <arg name="robot_id" value="dron01" />
    <arg name="y" value="0.0" />
    <arg name="x" value="0.0" />
    <arg name="z" value="0.0" />
  </include>
<!--
  <include file="$(find uned_crazyflie_config)/launch/crazyflie_driver.launch">
    <arg name="robot_id" value="dron02" />
    <arg name="y" value="1.0" />
    <arg name="x" value="1.0" />
    <arg name="z" value="0.0" />
  </include>
-->
</launch>
