<?xml version="1.0"?>

<launch>
  <arg name="joy_dev" default="/dev/input/js2" />
  <arg name="uri" default="radio://0/80/2M" />
  
  <group ns="inputs">

    <node name="joy" pkg="joy" type="joy_node" output="screen" >
      <param name="dev" value="$(arg joy_dev)" />
    </node>
    
    <!-- Note that axis IDs are those from the joystick message plus one, to be able to invert axes by specifiying either positive or negative axis numbers.-->
    <!-- Axis 2 from joy message thus has to be set as '3' or '-3'(inverted mode) below-->
    <node name="quadrotor_teleop" pkg="crazyflie_demo" type="quadrotor_teleop">
    	<param name="x_axis" value="4"/>
    	<param name="y_axis" value="5"/>
    	<param name="z_axis" value="2"/>
    	<param name="yaw_axis" value="1"/>
    	<param name="x_velocity_max" value="30"/>
    	<param name="y_velocity_max" value="-30"/>
    	<param name="z_velocity_max" value="60000"/>
    	<param name="yaw_velocity_max" value="-200"/>
    </node>

  </group>
  
  <group ns="crazyflie">
    <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
    </include>
  </group>
  
  <group ns="graph_results">
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find crazyflie_demo)/launch/crazyflie.rviz" /> -->

    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/crazyflie/temperature/temperature"/> -->

    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2" args="/crazyflie/battery"/> -->

    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot3" args="/crazyflie/rssi"/> -->

  </group>


</launch>
